<div class="row">
    
    <div class="col-md-offset-4 col-md-4">
        
        <div class="jumbotron">
            <div class="form-group col-md-offset-4">
                <a class="" href="#/sistema">
                    <img id="logo-login" alt="_logotipo" src="img/logotipo.svg">
                </a>  
            </div>
            <form>

                <div class="form-group">
                    <input id="form-login" type="tex" class="form-control" placeholder="login">
                </div>
                
                <div class="form-group">
                    <input id="form-senha" type="password" class="form-control" placeholder="senha">
                </div>
              
              <button ng-click="logar()" class="btn btn-default btn-block">Logar</button>
            </form>
        </div>
    </div>
    
</div>